@charset "UTF-8";

/*
* rgb(50,116,208) Mariner Blue
* rgb(210,210,210) Alto Gray
* rgb(203,79,77) Chestnut Rose
* rgb(124,186,15) Lima
*/

html {
	color: black;
	background-color: white;
	background-image: url(/images/secondary-content.gif);
	background-repeat: repeat-y;
	
	font-size: 100%;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
	background-color: transparent;
}

form,
p,
ol,
ul {
	margin-bottom: 21px;
}

h1 {
	margin-bottom: 21px;
	
	font-size: 21px;
	font-weight: bold;
}

a:link,
a:visited {
	color: rgb(50,116,208); /* Mariner Blue */
}

a:focus,
a:hover,
a:active {
	color: black;
}

a:focus,
a:active {
	outline: 1px dotted black;
}

small {
	font-size: 12px;
}

#header {
	color: white;
	background-color: rgb(50,116,208); /* Mariner Blue */
	
	padding: 9px 21px;
}

/*
	Easy Clearing - Tony Aslett, Position is Everything, and Alex Robinson
	http://www.tanfa.co.uk/archives/show.asp?var=300
*/
#header { zoom: 1; }
#header:after {
	content: ".";
	display: block;
	visibility: hidden;
	
	clear: both;
	
	height:      0;
	line-height: 0;
	font-size:   1px;
}

#header a:link,
#header a:visited {
	color: white;
}

#header a:focus,
#header a:hover,
#header a:active {
	color: black;
}

#header h1 {
	float: left;
	margin-bottom: 0;
	
	font-size: 24px;
}

#header nav {
	float: right;
	
	font-size:   12px;
	line-height: 24px;
}

#secondary-content {
	position: fixed;
	float: left;
	overflow: auto;
	max-height: 90%;
	
	padding:  21px;
	width:   258px;
	
	background-color: rgb(210,210,210); /* Alto Gray */
}

#login-form label {
	display: block;
}

#tag-bundles {
	margin-top: -6px;
}

#tag-bundles li {
	margin: 0 -3px;
}

#tag-bundles li a {
	display: block;
	padding: 6px 3px;
	
	text-decoration: none;
}

#tag-bundles li a em {
	float: right;
	padding: 0 6px;
	
	border: 1px solid rgb(50,116,208); /* Mariner Blue */
	color: white;
	background-color: rgb(50,116,208); /* Mariner Blue */
	
	-moz-border-radius:    12px;
	-webkit-border-radius: 12px;
	
	font-style: normal;
}

#tag-bundles li.empty a em {
	border-color:     rgb(203,79,77); /* Chestnut Rose */
	background-color: rgb(203,79,77); /* Chestnut Rose */
}

#tag-bundles li.selected a {
	color: white;
	background-color: rgb(50,116,208); /* Mariner Blue */
}

#tag-bundles li.selected a em {
	color:            black;
	border-color:     white;
	background-color: white;
}

#new-bundle-form label {
	/*
		Aural Text Class - Peter Krantz
		http://www.standards-schmandards.com/index.php?2004/10/08/1-the-aural-text-class
	*/
	
	position: absolute;
	top:      0; /* for IE 8 */
	left: -1000em;
}

#primary-content {
	margin-left: 300px;
	padding: 20px;
}

#primary-content header form {
	float: right;
}

#tags {
	clear: right;
	
	margin-left:  -6px;
	margin-right: -6px;
}

#tags li {
	display: inline;
	line-height: 1.5;
}

#tags li a {
	padding: 1px 6px;
	
	text-decoration: none;
}

#tags li a:hover,
#tags li a:focus,
#tags li a:active {
	text-decoration: underline;
}

#tags li a.in-bundle { color: white; background-color: rgb(50,116,208); /* Mariner Blue */ }
#tags li a.adding    { color: white; background-color: rgb(124,186,15); /* Lima */ }
#tags li a.removing  { color: white; background-color: rgb(203,79,77); /* Chestnut Rose */ }
